/* Init Variables */
:root {
  --track: hsl(180, 4%, 20%);
  --track-hover: hsl(180, 4%, 24%);
  --thumb: hsl(180, 4%, 32%);
  --thumb-hover: hsl(180, 4%, 48%);
}

/* Firefox Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb) var(--track);
}

/* Chromium and Webkit Based Browsers (Chrome, Edge, Safari) Scrollbar */
html::-webkit-scrollbar {
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--thumb);
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover);
}

html::-webkit-scrollbar-track {
  background-color: var(--track);
  border-radius: 100vw;
  margin: 0.5em 0.5em 0.5em 0;
}

html::-webkit-scrollbar-track:hover {
  background-color: var(--track-hover);
}